<% include partials/header %>
      <!--------------------------------About Express Market PDF------------------------------------------------------->

      <div id="pdf" class="S_fullDiv">
        <object width="100%" height="100%" type="application/pdf" data="./img/AboutUS.pdf" id="pdf_content">
          <p>Insert your error message here, if the PDF cannot be displayed.</p>
        </object>

      </div>
      <!-------------------------------- Ending of About Thykes Market PDF-------------------------------------------->
<% include partials/footer %>