<% include partials/header %>
		<div class="container-fluid S_push_down">
			<div class="row">
				<div class="col-lg-3 col-sm-6"> <!--Specify on which viewport size images stack or are side by side-->
					<h3 class="text-white text-center">Abisai Rodriguez</h3> <!--Specify typography color and centering-->
					<div>
						<p class="text-white text-center text-monospace">
							<code class="text-primary">Back-end Developer</code>
							<!-- <code class="text-success"> --> Computer Science major <!-- </code> -->
						</p>
						<figure>
							<img class="S_abisai_image" src="./img/ARodriguez.jpg" alt="Abisai_Rodriguez"> <!--S_NAME_image does specific cropping for that image-->
						</figure>
						<p class="text-white text-center">Contact at: (760) 814-5560 abisai.rodriguez13@gmail.com</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6"> <!--Specify on which viewport size images stack or are side by side-->
					<h3 class="text-white text-center">Omar Gonzalez</h3> <!--Specify typography color and centering-->
					<div>
						<p class="text-white text-center text-monospace">
							<code class="text-primary">Front-end Developer</code>
							<!--<code class="text-success"> -->Computer Science major <!-- </code> -->
						</p>
						<figure>
							<img class="S_omar_image" src="./img/OmarGonzalez.png" alt="Omar Gonzalez"> <!--S_NAME_image does specific cropping for that image-->
						</figure>
						<p class="text-white text-center">Contact at: (760) 529-6333 omargb22@gmail.com</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6"> <!--Specify on which viewport size images stack or are side by side-->
					<h3 class="text-white text-center">Jade Richardson</h3> <!--Specify typography color and centering-->
					<div>
						<p class="text-white text-center text-monospace">
							<code class="text-primary">Front-end Developer</code>
							<!-- <code class="text-success"> --> Computer Science major <!-- </code> -->
						</p>
						<figure>
							<img class="S_jade_image" src="./img/Jade.png" alt="Bruce Lee"> <!--S_NAME_image does specific cropping for that image-->
						</figure>
						<p class="text-white text-center">Contact at: (951) 764-1417 richardsonjade431@gmail.com</p>
					</div>
				</div>
			</div>

		</div>
<% include partials/footer %>
