<% include partials/headerLogin %>
<div class= "container-fluid">
  <div id="dynamic_background"> <!--This background will resize with viewport-->
    <img class="S_stretch" src="./img/Dynamic_flower.jpg" alt="Black background with a flower">
  </div>

        <!-- This text only gets displayed on browser windows large and x-large  WIP? -Teddy -->

        <!-- This text only gets displayed on browser windows large and x-large -->
        <!-- This box is for the article input-->
      <!--  <div class="col-lg-4 d-none d-lg-block"> -->
    <div class= "S_left">
                <h5 class= "text-white text-left" >
                              <!--&= Out & In from and to startWebServer.js-->
                              Welcome <%= dashboardInfo.userName%>!
                </h5>
      <br>

      <p class="text-muted"> Our premier <code>deep learning data parsing blockchain </code> algorithm will evaluate the worth of the company's stock.
      </p>
      <br>
      <br>
      <p class= "text-muted">Enter the name of the stock, along with the body of the article.</p>
          <div class="S_border">
                <h7 class="text-white">Article Entry:</h7>
                <form method="POST" action="/">
                    <br>
                    <input type="text" placeholder="Name of stock" name="articlesStock">
                    <br>

                    <input type="text" placeholder="Body of article" name="articleText">
                    <br>
                    <br>
                    <input type="submit" value="Send Article">
                </form>
          </div>
        <!-- </div> -->
        <!-- END article input-->

        <!-- This text only gets displayed on browser windows large and x-large -->
        <!-- This box is for adding a stock-->
      <!--  <div class="col-lg-4 d-none d-lg-block"> -->

      <!--   </div> -->
        <!-- END Stock add-->

        <!-- This text only gets displayed on browser windows large and x-large -->
        <!-- This box is for the article input-->
      <!--  <div class="col-lg-4 d-none d-lg-block"> -->

      <!--  </div> -->
        <!-- END stock to watch -->
      </div>

      <div class= "S_center">
        <h3 class= "text-white text-center">Tykhe Predictors</h3>
        <br>
        <br>
        <br>
        <blockquote>
          <p class= "text-muted small text-center">     "The most important quality for an investor is temperament, not intellect.
           You need a temperament that neither derives great pleasure from being with the crowd or against the crowd." </p>
           <footer class= "text-muted small text-right">-Warren Buffett</footer>
        </blockquote>
        <br>
        <br>
        <br>
        <blockquote>
          <p class= "text-muted small text-center">"The intelligent investor is a realist who sells to optimists and buys from pessimists. " </p>
           <footer class= "text-muted small text-right">-Benjamin Graham</footer>
        </blockquote>
        <br>

      </div>
      <div class= "S_right">

      </div>
</div>
<% include partials/footer %>
