	/*
	editted by Omar Gonzalez and Jade R.
	File: CS file,
	For stcok express
	*/
	body{
		overflow: hidden;
	}
	figure{
		width:300px; /*container-width*/
		overflow:hidden; /*hide bounds of image */
		margin:0;   /*reset margin of figure tag*/
	}

		figure img{
		display:block; /*remove inline-block spaces*/
		width:100%; /*make image streatch*/
		}

		.S_abisai_image{

			margin-bottom: -205px;
		}
		.S_omar_image{
			margin-bottom: -70px;
		}
		.S_teddy_image{

		}
		.S_jade_image{
			margin-bottom: -108px
		}

	 div ul li a:hover{
		background-color: #0A4386 !important; /*overriding Bootstrap coloring for navigation*/
	}
	.S_navBackground:hover{
	background-color: #0A4386;
	}

	.redText {
		background-color: red;
	}

	.whiteText {
		background-color: white;
	}

	.S_color_theme{
		 background-color: #212121;
		height: 100%;
		margin: 0;
		padding: 1em;


	}/*A class to be included in whichever css element with blue background and
		white font*/


	.S_form_styling{
		background-color: #232124;
		margin-left: 20%;
		margin-right: 20%;
		padding-top: 5%;
		padding-bottom: 2.5%;
		opacity: .95;
	}

	.S_fullDiv{
		opacity:0.8;
        background-color:#ccc;
        position:fixed;
        width:100%;
        height:100%;
        top:10px;
        left:10px;
        z-index:1000;


	}
	.S_border{
		background-color:#0E0E0E;
		border: 1px ridge #222222;
		padding: 5px;


	}
	.S_center{
		margin-top: 3%;
		float:left;
		width:30%;
		padding:10px;

	}/*Setting middle element*/

	.S_right{
		margin-top: 3%;
		float: left;
		width: 30%;
		padding:10px;
		clear:right;
	}/*Setting right element*/

	.S_left{
		margin-top: 3%;
		float: left;
		width:30%;
		padding:10px;

	}/*Setting left element*/

		.S_button_1{ /*Customizing the subscribe button */
		height:30px;
		background:#1E56AF;
		border:none;
		padding-left:10px;
		padding-right:10px;
		color:#ffffff;

	}
	.S_top{
		margin-top: 15vh;
	}
	.S_bottom{
		bottom: 20px;
		}
	.S_sidebar_nav{ /*SideBar collapse/expand will be implemented using Javascript*/
		position: fixed;
		opacity: .9;
	}
	.S_image{ /*Setting image to same size as navigation bar*/
		min-width: 100%;
		/*max-width: 1920px;*/
		max-height: 700px;
	}
	.S_push_right{
		min-height: 100%;
	}
	.S_push_down{
		margin: 38px;
	}

	.S_image_size{
		max-height: 30%;
		max-width: 30%;

	}




	@keyframes moveleft{
		0% {right: 0%;}
		100% {right: 100%;}


	}




		#info1{ /*Side scrolling information bar on indexExample*/
			position: relative;
			width: 100%;
			height: 100px;
			animation: moveleft 5s infinite;

		}

		#showcase{
		min-height: 400px;

		background: url('../img/manhattan-city-at-night-vt-1920x1080.jpg') no-repeat 0 -400px; /* specificies we are going out of style.css ../ to img then x y axis position of img */
		text-align:center;
		color:#ffffff;
	}


	#showcase h1{
		margin-top:100px; 		/* moving h1 down 100px */
		font-size:55px;			/* making font bigger*/
		margin-bottom:10px;		/*so text below doesn't run too close */
	}


	#showcase p{
		font-size:20px; /*makes showcase paragraph font bigger */
	}

		.container{
		width:80%;
		margin:auto;
		overflow:hidden;

	}

#dynamic_showcase{

	background:url('../img/Dynamic_flower.jpg');
	background-size: 100%;
}


#dynamic_background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.S_stretch {
    width:100%;
    height:100%;
}
